/*ini adalah css reset*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, {
	display: block;
}
body{
	line-height: 1;
}
ol, ul{
	list-style: none;
}
blockquote, q{
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after{
	content: '';
	content: none;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}

/*ini akhir dari css reset*/

header {
	height: 302px;
	width: 100%;
	border-top: 1px solid #f0ae17;
	background-image: url('img/bg2.jpeg');
	background-size: cover;
	background-position: 0 auto;
}
header .logo {
	margin-top: 157px;
	margin-left: 44px;
	font-weight: bold;
	height: 81px;
	background-color: #f0ae17;
	color: white;
	box-sizing: border-box;
	padding-top: 27px;
	padding-bottom: 10px;
	padding-left: 30px;
	font-family: sans-serif;
	font-size: 22px;
}
header .link {
	margin-top: 15px;
	width: 100%;
	height: 49px;
	background-color: #f0ae17;
	box-sizing: border-box;
	padding-top: 15px;
	text-align: center;
	margin-left: auto;
	font-family: sans-serif;
	font-size: 14px;
}
header ul li {
	display: inline-block;
}
header ul li a{
	color: white;
	text-decoration: none;
	padding-top: 14px;
	padding-bottom: 19px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
header ul li a:hover{
	background-color: #f9ce39;
}
.menu{
	float: right;
	display: none;
	font-size:15px;
	margin-top: 5px;
	margin-right: 15px;
	color: white;
	font-weight: bold;
}
.menu:hover{
	cursor: pointer;
}
#check{
	display: none;
}
.sidebar{
	position: fixed;
	top: 0;
	bottom: 0;
	left: -300px;
	width: 300px;
	background-color: rgba(16, 47, 80, 0.9);
	transition: 0.3s;
	z-index: 9999;
}
.sidebar ul li a {
	color: #fff;
	text-decoration: none;
}
.sidebar ul li{
	padding: 24px;
	transition: 0.3s;
	transition-property: background-color;
}
.sidebar ul li:hover{
	background-color: #f84744;
}
.table {
	background-color: #394cf9;
	margin-top: 32px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 32px;
	border-radius: 50px;
	width: 60%;
}
.table .satu {
	padding-top: 25px;
	padding-left: 45px;
	font-size: 19px;
	color: white;
}
.table .dua {
	padding-top: 25px;
	padding-left: 45px;
	font-size: 19px;
	color: white;
}
.table .tiga {
	padding-top: 25px;
	padding-left: 45px;
	font-size: 42px;
	color: white;
}
.table .navigasi{
	padding-top: 25px;
	font-size: 19px;
}
.form1{
	margin-top: 10px;
	height: 243px;
	width: 100%;
	background-color: #f0ae17;
}
.form2{
	font-size: 22px;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 44px;
	border-bottom: 2px solid black;
	color: white;
	background-color: #394cf9;
}
.form3{
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 44px;
	color: white;
}
.form5{
	background-color: #394cf9;
	font-size: 15px;
	margin-left: 44px;
	border-radius: 5px;
}
table {
	text-align: center;
	margin: 0 auto;
	background-color: lightskyblue;
}
table tr {
	border: 5px solid #394cf9;
}
table tr td {
	padding: 15px;
	color: white;
}

footer{
	width: 100%;
	height: 40px;
	padding-top: 13px;
	color: white;
	background-color: #f0ae17;
	text-align: center;
	box-sizing: border-box;
}
.btnsasa{
	background-color: #394cf9;
	font-size: 15px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

@media(max-width: 418px){
	.menu{
		display: block;
	}
	header ul{
		display: none;
	}
	header .logo {
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 17px;
	}
}
@media(max-width: 678px){
	.menu{
		display: block;
	}
	header ul{
		display: none;
	}
	header {
		background-position: 0-50px;
	}
	table tr td {
		padding: 5px;
		color: white;
	}
	header .logo {
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 17px;
	}
}
#check:checked ~ .sidebar{
	left: 0;
}
/*claear float*/

.cf:before, .cf:after{
	content: "";
	display: table;
}
.cf:after{
	clear: both;
}
.cf{
	*zoom:1;
}

/*clear float*/
